.animate {
    animation: move 5s linear infinite;
}

.animate:hover {
    animation-play-state: paused;
}
  
@keyframes move {
    0%, 100% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(-25px);
    }
}

.fade-in {
    animation: fade-in 3s forwards;
}

.fade-out {
    animation: fade-out 3s forwards; /* 'forwards' ensures opacity stays at 0 */
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}